.mainheader {
	background-color: #2ecc71;
	width:100%;
	height: 200px;
	padding-bottom: 20px;
	position: relative;
	border-bottom: 20px solid #27AE60;
}

.headers {
	padding-left: 3%;
}

.subheaders {
	border-bottom: 1px solid gray;
	padding-left: 5%;
}


.mainheader h1{
	position: absolute;
	bottom: 0;
	left: 0;
}

.main-block {
	position: relative;
	background-color: #ECF0F1;
	width: 50%;
	left: 25%
}

.back-background {
	position: absolute;
	background-color: rgba(0,0,0,0.8);
}

.code-box {
	padding: 20px;
margin-left: 50px;
margin-right: 50px;
background: #BDC3C7;
}

.placeholdimg {
	margin-left: 35px;
}

.separator {
	border: none;
	border-top: 1px solid lightgrey;
	color: #A0A0A0;
}

.inpbox-out {
	width: 80%;
}

.inpbox-in label {
	width: 150px;
	text-align: right;
	display: inline-block;
	padding-bottom: 10px;
	padding-right: 10px;
	color: black;
	font-size: 12px;
}

.inpbox-in input {
	width: 60%;
}

.commentbox {
	margin-left: 30px;
}

.fullbtn {
	margin-left: 5%;
	margin-top: 3%;
	color: white;
	background: #C0392B;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 41%;
	padding-right: 42%;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	

}





